body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.scoreboard-container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    margin-top: 10px;
  }
  .scoreboard {
    display: flex;
    align-items: center;
    border: 2px solid black;
    padding: 10px;
  }
  .player-1 .player-2 h2{
    margin: 1em;
  }
  .player-1,
  .player-2 {
    border: 2px solid black;
  }
  .game-container {
    display: flex;
    height: 70vh;
    width: 80vw;
    border: 2px solid black;
    flex-direction: row;
    position: relative;
  }
  .cat-paddle {
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  #leftPaddle {
    left: 0;
  }
  #rightPaddle {
    right: 0;
  }
  #rightPaddle img {
    width: 130px;
    height: 130px;
  }
  #leftPaddle img {
    width: 130px;
    height: 130px;
  }
  .ball {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .ball img {
    width: 50px;
    height: 50px;
  }