body {
    background-color: #ffc0cb;
}
h1 {
    text-align: center;
    color: #333;
    font-family: 'Comic Sans MS', cursive;
}
h2 {
    font-family: 'Comic Sans MS', cursive;
    color: #333;
}
#gameMenu {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
    /* border: 2px solid black; */
}
button {
    background-color: #c48ee4;
    color: #fff;
    width: 10em;
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
button:hover {
    background-color: #bda8ca;
}
.popup-content {
    background-color: #f5e0f1;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
input {
    height: 30px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: 30px; /* Adjust the height of the up/down buttons */
    /* To style the up/down buttons of an input with type="number," you can use the ::-webkit-inner-spin-button and ::-webkit-outer-spin-button pseudo-elements */
}
.close {
    position: absolute;
    bottom: 488px;
    right: 777px;
    font-size: 40px;
    color: #333;
    cursor: pointer;
}
@keyframes cascadeBounce {
    0%, 100% {
        transform: translateY(0);
    }
    15% {
        transform: translateY(-15px);
    }
    30% {
        transform: translateY(0);
    }
    45% {
        transform: translateY(-25px);
    }
    60% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-20px);
    }
    90% {
        transform: translateY(0);
    }
}
h1 {
    display: inline-block;
    font-size: 2em;
}
h1 span {
    display: inline-block;
    animation: cascadeBounce 2s infinite;
}
h1 span:nth-child(1) {
    animation: cascadeBounce 2s infinite 0.1s;
    -webkit-animation: cascadeBounce 2s infinite 0.1s;
}
h1 span:nth-child(2) {
    animation: cascadeBounce 2s infinite 0.2s;
    -webkit-animation: cascadeBounce 2s infinite 0.2s;
}
h1 span:nth-child(3) {
    animation: cascadeBounce 2s infinite 0.3s;
    -webkit-animation: cascadeBounce 2s infinite 0.3s;
}
h1 span:nth-child(4) {
    animation: cascadeBounce 2s infinite 0.4s;
    -webkit-animation: cascadeBounce 2s infinite 0.4s;
}
h1 span:nth-child(5) {
    animation: cascadeBounce 2s infinite 0.5s;
    -webkit-animation: cascadeBounce 2s infinite 0.5s;
}
h1 span:nth-child(6) {
    animation: cascadeBounce 2s infinite 0.6s;
    -webkit-animation: cascadeBounce 2s infinite 0.6s;
}
h1 span:nth-child(7) {
    animation: cascadeBounce 2s infinite 0.7s;
    -webkit-animation: cascadeBounce 2s infinite 0.7s;
}
